
body{
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
overflow-x: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.line{
    padding: 3px;
    background: black;
    border-radius: 4px;
    margin-top: -15px;
    width: 5%;
}

button{
    margin-top: 20px;
    width: 20%;
    padding:10px;
    text-align:center;
    background:black;
    color:white;
    border:none;
    border-radius:4px;
    font-size:1rem;
    transition: all ease-in-out 0.3s;
    }

    @media only screen and (max-width: 414px){
        button{
            width: 50%;
        }

        .line{
            width: 15%;
        }
    }
   
button:hover{
    background: rgba(0, 0, 0, 0.749);
    transition: all ease-in-out 0.3s;
    cursor:pointer;
    }

.random-color{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
}

.color-box{
    padding-top: 80%;
    background: black;
}

.color-data{
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.code{
    font-weight: bold;
}

.btn{
    color: black;
    transition: .5s ease;
}
.btn:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.random-colors{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));  
  grid-gap: 1.5rem;
}

/* skeleton loader */
.skeleton{
    position: relative;
}

.skeleton::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #ccc, #f9f9f9, #ccc);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}

@keyframes skeleton{
    0%{
        background-position: -100% 0;
    }
    100%{
        background-position: 100% 0;
    }
}
/* skeleton loader */



